<footer class="bg-light text-center text-lg-start ">
    <div class="text-center p-3" style="background-color: rgb(249, 3, 3);">
      Created By:
      <a class="text-dark" href="">Taylor King</a>
    </div>
  </footer>

  