
<!-- Nav Bar -->
<nav class="navbar navbar-light fixed-top bg-image" style=" background-image: url('https://miro.medium.com/max/1400/0*g-VqGuq_LqKEBIfv'); background-position: 30%; background-size: cover";>

    <!-- Nav Buttons -->
    <div class="nav-buttons">
        <a class="navbar-brand " href="/new">
            <i class="bi bi-plus-square-fill"></i>
        </a>
        <a class="navbar-brand" href="/">
            <i class="bi bi-house-fill "></i>
        </a>
    </div>
  
<!-- Typing MyFavoritePodcasts -->
    <div class="typing text-center">
        <h2 class="typed-out text-center">My Favorite Podcasts</h2>
    </div>

  
<!-- Genre Dropdown -->
    <div class="dropdown">
        <button class="dropbtn">Genre</button>
        <div class="dropdown-content">
          <a href="/talk">Talk</a>
          <a href="/truecrime">True Crime</a>
          <a href="/reality">Reality</a>
          <a href="/comedy">Comedy</a>
          <a href="/history">History</a>
        </div>
      </div>
  </nav>



 

  