
<nav class="navbar navbar-light fixed-top bg-image" style=" background-image: url('https://blog.motionisland.com/wp-content/uploads/2018/04/audio-spectrum-demo.gif'); background-position: 30%; background-size: cover";>
    <a class="navbar-brand" href="/">
        <i class="bi bi-house-fill "></i>
    </a>

    <div class="typing ">
        <h2 class="typed-out ">MyFavoritePodcasts</h2>
    </div>

    <a class="navbar-brand " href="/new">
        <i class="bi bi-plus-square-fill"></i>
    </a>

    
  </nav>



 

  