/* Font */
body {
    font-family: 'Roboto', sans-serif;
}

/* Card Body */
.card-body {
    background-image: url("https://img.freepik.com/premium-vector/podcast-seamless-vector-pattern-handdrawn-elements_318844-695.jpg?w=826");
    background-size:cover;
    
    color: rgb(0, 0, 0);
    
}

/* Card */
.card {
    margin-bottom: 2em;
    box-shadow: 1px -1px 23px -1px rgba(255,0,0,0.75);
    -webkit-box-shadow: 1px -1px 23px -1px rgba(255,0,0,0.75);
    -moz-box-shadow: 1px -1px 23px -1px rgba(255,0,0,0.75); 
}

/* Show Page Cards */
.showing {
    color: white;
    background-position-x:right ;
    background-attachment: fixed;
}


/* Home Wallpaper */
.homewall {
    background-attachment: fixed;
    background-position-y: 80%;
    
}

/* Show Page Button Container */
.flex-wrap {
    margin-top: 150px !important;
}

/* Show Page Card Text */
.b {
    background-color: red;
    padding: 5px;
}

/* Nav Title Typing Text */
.typed-out {
    overflow: hidden;
    border-right: .15em solid rgb(255, 0, 0);
    font-size: 1.6em;
    white-space: none;
    width: 0;
    animation: typing 2s steps(20, end) forwards,
    blink .8s infinite;
    color: white;
}

/* Nav Bar Icons */
.bi {
    color: white;
}

/* Nav Bar House Icon */
.bi-house-fill {
    font-size: larger;
}

/* Nav Bar Typing Title Container */
.typing {
    display: inline-block;
    margin: auto !important;
}

@keyframes typing {
    from {width: 0;}
    to {width: 100%;}
}

@keyframes blink {
    from {border-color: transparent;}
    to {border-color: rgb(255, 255, 255);}
}

/* Nav Bar */
.navbar {
    display: flex !important;
    flex: row !important;
    justify-content: space-around !important;
    background-color: black !important;
    width: 100% !important;
    box-shadow: 1px -1px 23px -1px rgba(255,0,0,0.75);
-webkit-box-shadow: 1px -1px 23px -1px rgba(255,0,0,0.75);
-moz-box-shadow: 1px -1px 23px -1px rgba(255,0,0,0.75);
    
    
}

/* Marquee Container  */
.slider {
    color: rgb(255, 255, 255);
    padding-top: 5px;
    font-size: 20px;
    position: fixed;
    top: 65px;
    z-index: 999;
}

.marqueeback {
    width: 100%;
    padding-top: 50px;
    position: fixed;
    top: 60px;
    left: 0px;
    background-color: #000000;
    z-index: 989;
}


/* Nav Bar Dropdown Button  */
.dropbtn {
    background-color: #fffefe;
    color: rgb(0, 0, 0);
    padding: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
    border-radius: 20%;
    font-size: 16px;
    border: none;

    box-shadow: 1px -1px 23px -1px rgba(255,0,0,0.75);
    -webkit-box-shadow: 1px -1px 23px -1px rgba(255,0,0,0.75);
    -moz-box-shadow: 1px -1px 23px -1px rgba(255,0,0,0.75);
  }
  
  /* Nav Bar Dropdown Container  */
  .dropdown {
    position: relative;
    display: inline-block;
    margin-right: 18px;
  }
  
  /* Dropdown Content  */
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #000000;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  /* Links Inside the Dropdown */
  .dropdown-content a {
    color: rgb(255, 255, 255);
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
  
  
  .dropdown-content a:hover {background-color: #ddd;}
  
  
  .dropdown:hover .dropdown-content {display: block;}
  
  
  .dropdown:hover .dropbtn {background-color: #7a0101;}

  /* Footer  */
  footer {
    width: 100% !important;
  }


  /* Media Query  */
@media (max-width: 499px) {
    iframe {
        display: none;
    }

    .jumbotron {
        margin-top: 30px;
    }
}
